<section class="section-aboutme">
    <div class="face">

    </div>

    <div class="blurb">
      <h3>Hi.</h3>
      <p>I'm Shanvi Srivastava, a junior year Electronics and Communication Engineering student at Banasthali University, Rajasthan.</p>
      <p>I have an innate passion for electronics engineering and I love to build stuff in order to make human lives around me better by using my creativity in electronics.</p>
      <p>At present I'm looking for a challenging internship which demands the best of my professional ability in terms of technical and analytical skills, and would help me in broadening and enhancing the realm of my current skill and knowledge.</p>
    </div>
</section>
