<section class="section-academics">
  <h3>Academics</h3>
    <div class="academics">
      <span id="para"><p>The field of Electronics Engineering has always intrigued me not only as a blooming career opportunity but also
         as a way of devising smart solutions for the benefit of human kind and hence I chose to pursue it as my majors in college.
      </p>
      </span>
      <h4>Education,Honor and Awards</h4>
      <ul>
        <li>Banasthali University - (2014-2018) B.Tech Electronics and Communication Major in Electronics and Communication Engineering</li>

      </ul>

      <h4>Competitions</h4>
      <ul>
        <li>Won second in Jam and Third Prize in Thunk event of Litrati, the annual literary fest of
        Dept. of  English and Modern European language.
        </li>
        <li>Twice Winner of Science Olympiad at school level</li>
        <li>Was selected  for Inspire Scholarship( for being among top 1%  students in intermediate) </li>
        <li>I won  2 prize in CIRCUITUS an event in phoenix ,an annual departmental technical fest  </li>
        <li>i stood 3 in the event ELECTROTHON  organised by SAMARTHYA a dept club of dept of electronics</li>
        <li>I won  2 prize in JAM an event in academic festival of the department of english and modern european languages. </li>
        <li>I won  3 prize in Thunk an event in academic festival of the department of english and modern european languages.</li>

      </ul>

      <h4>Trainings, Seminars, Proffesional Development and Industry Participation</h4>
      <ul>
        <li>I participated in  an international workshop on  conducted by prof. Vridhagiri Ganeshan ,visiting prof , dept. of modern and classical languages , georgia state university, atlanta, USA  on Enhancement of communication skilll and language acquisition.</li>
        <li>A one day practicle workshop was attented by me on INTERNET OF THINGS AND WIRELESS SENSOR NETWORKS organised by TECHFLEETERS  infotech private limited</li>
        <li>I participated in a one day workshop on live sketching coducted by shishir bhatt. organised by team aayam at banasthali uni</li>
        <li>robotic workshop check previous mail and my sop for information.</li>
        <li>I participated in a one day workshop on VLSI  conducted by asst prof. Pooja srivastava explaing basic concepts of vlsi </li>
      </ul>

      <h4>Beyond Academics</h4>
      <ul>
        <li>student pilot lisence -i was always facinated by aviation so in banasthali vidyapith i decidedd to join Banasthali Vidhyapith Gliding and Flying Club where i have succesfully completed 5 hours of flying with my instructor.</li>
        <li>german- learning a new language has  always facinated me as during ny school days i have learnt sanskrit for10 consicutive years. i also continued my love for learning a new language by joining german language cource.</li>
        <li>model making- I with my 2 other team members succesfully made a working steamer model for which i secured 1 position in national science day program held in banasthali vidyapith </li>
        <li>club representative- I was selected as the 1 year representative of the depatmental club Team corona during which I  also actively participated in  its anual feast Phoenix  I also have coorridinated the event "brains at work" organisedf by BVGFC.</li>
        <li>dance -during my school years i have learned kathak for consecutive 3 years</li>
      </ul>
    </div>
</section>
