<section class="footer">
    <div class="Bunker">
      <h4>My Bunker</h4><br>
      <div class="details">
        <p>Banasthali Vidyapeeth</p>
        <p>Niwai- Jodhpuria Road</p>
        <p>Vanasthali,Rajasthan</p>
        <p>+91-9XXXXXXXX</p>
      </div>
    </div>

    <div class="Links">
      <h4>Reach Me</h4><br>
      <div class="details">
        <a href="#">facebook</a><br>
        <a href="#">twitter</a><br>
        <a href="#">github</a><br>
        <a href="#">mail</a><br>
      </div>
    </div>

    <div class="Copyright">
      <h4>&copy 2016 Shanvi Srivastava</h4><br>
      <div class="details">
        <p>All Rights Reserved</p>
      </div>
    </div>
</section>
