<header id=header>
  <ul class=topnav id="myTopnav">
    <li><a href="#aboutme">About Me</a></li>
    <li><a href="#work">Work</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="/assets/attach/resume.docx" download="ShanviResume">Resume</a></li>
    <li class="icon">
      <a href="javascript:void(0);" onclick="myFunction()">&#9776</a>
    </li>
  </ul>

  <div class="blurb">
    <h1 class="heading">I'm Shanvi.</h1>
    <h3 class="title">A junior year university student <br>looking for an internship.</h3>
  </div>

</header>
