<section class="work-section">
  <h3 id="work">Work</h3>
  <div class="work-belt">
    <div class="thumb-wrap">
      <div class="thumb-container">

        {% for project in site.data.settings.projects %}
          <a class="thumb-unit" data-folder="{{project.folder}}" style="background-image : url(assets/img/Work/{{project.folder}}/thumb.jpg);">

            <div class="thumb-overlay">
              <strong>{{project.name}}</strong>
              <div class="zoom-icon">
              </div>
            </div>
          </a>
        {% endfor %}

      </div>
    </div>

    <div class="work-wrap">
      <div class="work-container">
        <div class="work-return">
          {% include icons/back.html%}
        </div>
        <h4 class="project-title">DO Work</h4>
        <div class="project-load">

        </div>
      </div>
    </div>

  </div>

</section>
